@media (max-width: 980px) {

    html {
        font-size: 50%;
    }

    div.card {
        min-width: 250px;
    }

    div.buttons-group {
        flex-direction: column;
        align-items: center;
    }

    div.buttons-group button {
        width: 100%;
    }

    div.buttons-group span + button {
        margin-top: 8px;
    }

    div.buttons-group span {
        display: none;
    }

    footer .footer-white .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer .footer-white .links a + a {
        margin-left: 0;
    }
}

@media (max-width: 780px) {

    header.navbar .container  {
        justify-content: space-between;
    }

    header.navbar .container .menu-section  {
        justify-content: flex-end;
    }

    header.navbar .container .menu-section .navbar-body  {
        display: none;
    }

    div.menu-toggle  {
        width: 35px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    div.menu-toggle .one, 
    div.menu-toggle .two, 
    div.menu-toggle .three {
        background-color: white;
        height: 4px;
        width: 100%;
        margin: 3px auto;
        border-radius: 2px;
        transition-duration: 0.3s;
    }

    article.media {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 520px) {

    main div.container {
        flex-direction: column;
        align-items: center;
    }

    aside {
        order: -1;
        min-width: 100%;
        margin-left: 0;
    }

    div.card {
      flex-grow: 1;
      margin: 0;
      margin-bottom: 16px;
    }

    
    footer .footer-dark .container,
    footer .footer-white .container {
        max-width: 980px;
        width: 60%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer .footer-white .footer-white-start {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer .footer-white .footer-white-start img {
        margin-bottom: 16px;
    }

    footer .footer-white .footer-white-start .footer-white-start-number {
        margin-left: 0px;
        margin-bottom: 16px;
    }

    footer .footer-white .links a + a {
        margin-top: 8px;
    }

    footer .footer-dark .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer .footer-dark .links a + a {
        margin: 8px 0 24px;
    }

}