@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');


/* === CONFIG GERAIS === */

:root {
    --primary-color: #da291c ;
    --second-color: rgb(161, 0, 19) ;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
  }

html, body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
    font-size: 1.6rem;
  }

div.container {
    width: 90%;
    max-width: 1024px;
    margin: auto;
}

span.icon {
    margin-right: 8px;
    display: flex;
    align-items: center;
}


/* === BUTTONS === */

button.button {
    padding: 8px 16px;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
    border: 1px solid transparent;
}

button.button.white {
    background-color: #FFF;
    color: var(--primary-color);
}

button.button.white:hover {
    background-color: var(--primary-color);
    color: #FFF;
    border: 1px solid white;
    transition: all 0.3s ease;
}

button.button.red {
    background-color: var(--primary-color);
    color: #FFF;
}

button.button.red:hover {
    background-color: #FFF;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: all 0.3s ease;
}

button.button.black.outlined {
    background-color: #FFF;
    color: #A2A2A2;
    border: 1px solid #A2A2A2;
}

button.button.black.outlined:hover {
    background-color: #FFF;
    color: #7A7979;
    border: 1px solid #7A7979;
    transition: all 0.3s ease;
}


/* === MAIN === */

main {
    margin-top: 48px;
}

main div.container {
    display: flex;
}

aside {
    margin-left: 16px;
}

.button-top {
    position: fixed;
    bottom: 60px;
    right: 60px;
    color: white;
    background-color: #ADADAD;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    display: none;
}

.button-top:hover {
    background-color: #9A9A9A;
}